[Unit]
Description=Run PPPoEject tracker update daily

[Timer]
OnCalendar=*-*-* 06:50:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
